# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SYNC24_LEFT
    def_bool $(shields_list_contains,sync24_left)

config SHIELD_SYNC24_RIGHT
    def_bool $(shields_list_contains,sync24_right)