#define ZMK_BEHAVIORS_OMIT_KT

#undef ZMK_BEHAVIORS_KEEP_ALL

#define ZMK_BEHAVIORS_KEEP_SK
#define ZMK_BEHAVIORS_KEEP_MT
#define ZMK_BEHAVIORS_KEEP_KT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {

    combos {
        compatible = "zmk,combos";

        combo_us {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp LANG2>;
        };

        combo_kana {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LANG1>;
        };

        combo_util {
            timeout-ms = <50>;
            key-positions = <36 37>;
            bindings = <&mo 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        base {
            display-name = "Base";
            bindings = <

// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷
    &kp TAB    &kp Q       &kp L       &kp U       &kp COMMA       &kp DOT         &kp F      &kp W       &kp R       &kp Y       &kp P         &kp BACKSPACE 
    &kp LCMD   &kp E       &mt LCTRL I  &mt LALT A  &mt LSHIFT O  &kp MINUS         &kp K    &mt RSHIFT T    &mt RALT N  &mt RCTRL S  &kp H  &kp RET
    &kp LSHFT  &kp Z       &kp X       &kp C       &kp V       &kp B           &kp D      &kp M       &kp J   &kp B     &kp FSLH      &kp RSHIFT
    &kp LSHFT  &kp LCTRL   &kp LALT    &kp LCMD    &lt 1 BSPC    &mt LCMD RET     &mt RCMD TAB   &lt 2 SPACE   &kp RCMD    &kp RALT    &kp BSLH      &none

            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        num {
            display-name = "Num";
            bindings = <

// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷
    &kp ESC     &none       &kp N1      &kp N2  　  &kp N3       &none          &kp CARET   &kp LT     &kp EQUAL     &kp GT       &kp PRCNT     &none
    &kp LCMD    &kp N0      &kp N4      &kp N5      &kp N6       &kp LPAR        &kp RPAR    &mt RSHIFT PLUS  &mt RALT MINUS  &mt RCTRL STAR   &none       &none
    &kp LSHFT   &kp DLLR    &kp N7   &kp N8      &kp N9       &kp DOT        &kp UNDER    &kp EXCL    &kp QMARK    &kp COLON  &kp SEMI          &none
    &kp LSHFT   &none       &none       &none       &none       &trans          &none       &lt 4 SPACE       &none     &none  &none  &none

            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        function {
            display-name = "Function";
            bindings = <

// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷
    &none       &kp AT      &kp LBKT      &kp DOT   &kp RBKT       &none           &none       &kp ESC     &kp UP      &kp CAPS  &kp PG_UP   &kp HOME
    &none       &kp HASH  &mt LGUI LPAR &mt LALT SQT &mt LSHIFT RPAR  &kp AMPS     &none       &kp LEFT    &kp DOWN    &kp RIGHT &kp PG_DOWN &kp END
    &none       &kp BLSH    &kp LBRC      &kp GRAVE &kp RBRC      &kp PIPE         &none       &none       &none       &none     &none       &none
    &none       &none       &none       &none       &kp DEL       &trans             &trans    &none       &none       &none     &none       &none
            
            >;
        };


// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        util {
            display-name = "Util";
            bindings = <

// ╷               ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷
    &bt BT_SEL 0    &bt BT_SEL 1&bt BT_SEL 2&bt BT_SEL 3&bt BT_SEL 4&bt BT_CLR      &none       &none       &none       &none       &none       &none
    &studio_unlock  &none       &none       &none       &none       &none           &none       &none       &none       &none       &none       &none
    &none           &none       &none       &none       &none       &none           &none       &none       &none       &none       &none       &none
    &none           &none       &none       &none       &none       &none           &none       &none       &none       &none       &none       &none
            
            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        extra1 {
            status = "reserved";
            bindings = <

// ╷           ╷           ╷           ╷           ╷           ╷                         ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷
    &none       &kp Q LALT LCTRL &kp W LALT LCTRL &kp E LALT LCTRL &kp T LALT LCTRL &none     &none       &kp F1      &kp F2      &kp F3      &kp F4      &none
    &none       &kp A LALT LCTRL &kp S LALT LCTRL &kp D LALT LCTRL &kp F LALT LCTRL &none     &none       &kp F5      &kp F6      &kp F7      &kp F8       &none
    &none       &kp Z LALT LCTRL &kp X LALT LCTRL &kp C LALT LCTRL &kp V LALT LCTRL &none     &none       &kp F9      &kp F10     &kp F11     &kp F12       &none
    &none       &none       &none       &none       &none       &none                         &none       &none       &none       &none       &none       &none
            
            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        extra2 {
            status = "reserved";
            bindings = <

// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷
    &none       &none       &none       &none       &none       &none           &none       &none       &none       &none       &none       &none
    &none       &none       &none       &none       &none       &none           &none       &none       &none       &none       &none       &none
    &none       &none       &none       &none       &none       &none           &none       &none       &none       &none       &none       &none
    &none       &none       &none       &none       &none       &none           &none       &none       &none       &none       &none       &none
            
            >;
        };

    };
};
